@charset "utf-8";

/*css reset*/
body { 
	font:normal 14px/1.5 "\5FAE\8F6F\96C5\9ED1", Helvetica; 
	color:#000; 
	background-color:white; 
	-webkit-user-select: none; 
	-webkit-text-size-adjust: none; 
}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu { 
	margin:0;
	padding:0;
}
input[type="text"],textarea {
	-webkit-appearance: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	font-style: normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}

header, section, footer { 
	display:block;
	margin:0;padding:0;
}
a{
	text-decoration: none;
}
.dn{
	display: none;
}
