body {
    background-color: #F3F3F3;
}

.head {
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03c7ad;
    z-index: 2;
}

.head h1 {
    text-align: center;
}

.head .ic-back {
    position: absolute;
    left: 12px;
    top: 10px;
    display: inline-block;
    width: 24px;
    height: 22px;
    background: url('../images/bg_back.png') no-repeat;
    background-size: 24px 22px;
}

ul.week-f {
    position: fixed;
    width: 100%;
    top: 44px;
    height: 24px;
    line-height: 24px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #CDCDCD;
    font-size: 12px;
    z-index: 2;
    overflow: hidden;
}

ul.week-f li {
    float: left;
    box-sizing: border-box;
    width: 14.28%;
    text-align: center;
}

ul.week-f li.wk {
    color: #FF902D;
}

/* 日历相关css */
.cal-wrap {
    background-color: #FFFFFF;
    position: relative;
    top: 69px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    color: #585858;
}

.cal-wrap h2 {
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.cal-wrap ul.week {
    height: 24px;
    line-height: 24px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #F5F0F0;
    margin: 3px 0 5px;
    font-size: 12px;
    overflow: hidden;
}

.cal-wrap ul.week li {
    float: left;
    box-sizing: border-box;
    width: 14.28%;
    text-align: center;
}

.cal-wrap ul.week li.wk {
    color: #FF902D;
}

.cal-wrap ul.day {
    overflow: hidden;
}

.cal-wrap ul.day li {
    float: left;
    box-sizing: border-box;
    width: 14.28%;
    text-align: center;
    height: 45px;
    line-height: 38px;
    padding: 2px 0;
}

.cal-wrap ul.day li i {
    font-style: normal;
    display: block;
}

/* 多行 */
.cal-wrap ul.day li.dl {
    line-height: 20px;
    padding-top: 2px;
    font-size: 13px;
}

/* 节日 */
.cal-wrap ul.day li.jr {
    color: #03C7AD;
}

/* 双休 */
.cal-wrap ul.day li.wk {
    color: #FF902D;
}

/* 不可点状态 */
.cal-wrap ul.day li.iv {
    color: #cfcfcf!important;
}

/* 当前选中态 */
.cal-wrap ul.day li.cur {
    background-color: #03C7AD;
    color: #FFFFFF;
}
